<!DOCTYPE html>
<html>

<head>
  <title>
    <%= name %>
  </title>
  <meta name="description" content="<%= name %>">
  <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
  <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.5/aframe/build/aframe-ar.js"></script> -->
</head>

<body>
  <a-scene embedded arjs='trackingMethod: best;'>
    <a-entity gltf-model="/https://weiprior.github.io/digitest/assets/animatedbox.gltf"></a-entity>
    <a-sky color="#ECECEC"></a-sky>
    <a-marker-camera preset='hiro'></a-marker-camera>
  </a-scene>
</body>

</html>
